.card {
    height: 95%;
    border-radius: 20px;
    border: 5px solid #5865f2;
    padding: 5px;
    background-color: #1f1f1f;
    margin-top: 5px;
    margin-bottom: 5px;
}
.party-image {
    width: 100%;
    height: auto;
    align-self: center;
}
.party-human {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: auto;
    align-self: center;
}
.exp-row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.bond-row {
    justify-content: center;
}
.exp {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #5865f2 ;
}
.icon-card {
    vertical-align: text-top;
    height: 3vh;
    width: auto
}
.icon-bond {
    height: 5vh;
    width: auto
}

.types {
    text-align: center;
}