.ant-collapse .ant-collapse-header .ant-collapse-header-text {
    color: #e0e3ff;
    font-weight: bolder;
    font-size: larger;
}
.ant-collapse .ant-collapse-header {
    background-color: #282938;
}
.ant-collapse .ant-collapse-item .ant-collapse-content-active {
    background-color: #1f1f1f;
    color: #e0e3ff;
}
.ant-collapse .ant-collapse-item .ant-collapse-content-inactive {
    background-color: #1f1f1f;
}