.pokemon-form {
    width: 50%;
    justify-self: center;
}

.ant-checkbox-wrapper {

    color: #e0e3ff
}
.ant-select {
    width: 100%
}
.section {
    width: 100%;
    margin: 10px;
    justify-content: space-evenly
}
input {
    color: #e0e3ff;
    padding: 10px;
    border-radius: 10px;
    background-color: #282938;
    border: none
}
.exp-input {
    width: 100%
}