/*
Text Color: #e0e3ff
Background: #1f1f1f
Sidebar: #000000

*/

html, body{
    margin: 0;
    padding: 0;
}
button {
    background-color: #5865f2;
    color: #e0e3ff;
    border-width: 0px;
    border-radius: 10px;
    padding: 10px
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #e0e3ff;
    background-color: #1f1f1f;
}
.Sidebar {
    height: 100vh;
    background-color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: #e0e3ff;
    z-index: 10;
    width: 17vw;
    position: fixed;
}
.logo {
    width:100%;
}
.pokedex {
    margin-left: 10%;
    margin-right: 10%;
}
.col-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#app{
    background-color: #1f1f1f;
    color: #e0e3ff;
    overflow: hidden;
}
.Footer{
    position: absolute;
    bottom: 0px;
    color: #e0e3ff;
    background-color: #4e5058;
    width: 10%;
    overflow: hidden;
}
.icon-header {
    width: 50px;
    height: 50px;
}
.icon-small {
    width: 20px;
    height: 20px;
}
.story-card {
    font-size: large;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
.pokedex-entry {
    text-align: left;
    padding: 5%;
    padding-top: 1%
}
.pokedex-entry h1 {
    font-size: 50px;
}
.col-3 {
    padding: 0px;
}
.anticon-delete {
    color: red
}
.anticon-edit {
    color: #35ed7e
}